.tour{
  height: 75vh;
}

.tour form {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tour form input,
  textarea {
    width: 30%;
    margin-bottom: 15px;
  }
  